/* Убираем все отступы и заставляем iframe заполнить все пространство */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Скрываем возможные полосы прокрутки самого окна */
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Убираем рамку у iframe по умолчанию */
}
